.stackPane {
    -fx-background-image: url("/image/collections/studentHeader.jpg");
    -fx-background-size: cover;
}
.jfx-hamburger StackPane{
    -fx-background-color: #fff;
}
.side-buttons:hover{
    -fx-background-color: #BF360C;
    -fx-text-fill: #fff;
}
.side-buttons:focused{
    -fx-background-color: #BF360C;
    -fx-text-fill: #fff;
}
.side-buttons:hover .glyph-icon {
    -fx-fill: #fff;
}
.side-buttons:focused .glyph-icon {
    -fx-fill: #fff;
}
.button:hover{
    -fx-background-color: #BF360C;
    -fx-text-fill: #fff;
}
.button:hover .glyph-icon {
    -fx-fill: #fff;
}
.card-white{
    -fx-background-color: rgb(255.0, 255.0, 255.0);
    -fx-background-radius: 4.0;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0,1.5);
}
.card-unpadded {
    -fx-background-color: rgb(255.0, 255.0, 255.0);
    -fx-background-radius: 4.0;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0,
        1.5);
    -fx-padding: 0 0 0 0;
}

/** TableView**/

.table-view{
    -fx-table-cell-border-color: transparent;
    -fx-effect: dropshadow( gaussian,rgba(0,0,0,0.16),5,0,0,2);
    -fx-background-radius: 3px;
    -fx-background-color: white;
    -fx-background-insets: 0;
    
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: white;
}
.table-view .column-header:last-visible{
    -fx-border-width: 0 0 1 0;
}
.table-view .column-header-background{
    -fx-background-color: transparent;
}
.table-view .column-header{
    -fx-border-width: 0 1 1 0;
    -fx-border-color: rgba(1,1,1,0.15);
}
.table-view .column-header .label{
    -fx-font-size:12px;
    -fx-text-fill: -color-primary;
    -fx-padding:0 0 0 0;
    -fx-alignment:CENTER;
    -fx-font-weight:bold;
}
.table-view .table-row-cell .table-cell{
    -fx-border-width: 0 0 0 0;
}

.table-view .table-row-cell:selected .table-cell{
    -fx-text-fill: -color-dark-primary;
    -fx-border-width: 0 0 0 0;
}
.table-view .table-row-cell:selected{
    -fx-background-color: rgba(0,0,0,0.04);
    -fx-background-insets:0;
}


.table-view .table-row-cell{
    -fx-background-color:transparent;
    -fx-background-insets:0;
}

.table-view .table-column{
    -fx-alignment:CENTER;
    -fx-padding:0 8 0 8;
}

.table-view .table-cell{
    -fx-font-size: 12px;
    -fx-text-fill: #000;
}
.table-view .table-cell .ripple-circle{
    -fx-fill:#2196F3;
}
.table-view .table-cell > .text-field{
    -fx-background-color:transparent;
    -fx-padding:0 4 4 4;
    -fx-background-insets: 0;
    -fx-border-width:0 0 2 0;
    -fx-border-color: -color-primary;
}

.table-view .corner{
    -fx-background-color:transparent;
}
